<div class="col-3">
  <div class="card border" style="width: 18rem;">
    <%= image_tag(product.image_principal, class: 'card-img-top', size: "320x200") %>
        <div class="card-body">
          <p class="card-text"><%= product.name %></p>
          <div class="text-center">
            <%= product.pretty_price %>
          </div >
          <br>
          <%= link_to 'Ver', product_path(product),  class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
</div>
<br><br>
