<%= render 'filter' %>
<div class="row">
  <table class="table">
    <tbody>
      <%= render @presenter.products %>
    </tbody>
  </table>
</div>
<br>
<div class="row d-flex justify-content-center">
  <%= will_paginate @presenter.products%>
</div>
