<div class="row">
<div class="col-6">
<div class="row">
  <div class="col">
    <p class="text-secondary">Categoria</p>
    <%= @product.category_name%>
  </div>
  <div class="col">
  <p class="text-secondary">Precio</p>
  <%= @product.price%>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="text-secondary"> Tags</p>
    <%=@product.tags_name%>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <p class="text-secondary"> Descripción</p>
  </div>
</div>
</div>
<div class="col-6">

</div>
</div>