<h3><%= I18n.t(:index,:buys)%></h3>
<%= render 'flash_message' %>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Estado</th>
      <th>Total</th>
      <th>Fecha</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody id='buys_container'>
    <%= render @buys %>
  </tbody>
</table>