<!-- Button trigger modal -->
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Productos</th>
      <th class='text-right'><%= link_to 'Nueva', new_backend_product_path, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody id='products_container'>
    <%= render @products %>
  </tbody>
</table>
