<!-- Button trigger modal -->
<br>
<%= render 'flash_message'%>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Productos</th>
      <th>Activo</th>
      <th>Precio</th>
      <th class="text-right"><%= link_to I18n.t(:new), new_backend_product_path, class: 'btn btn-primary' %></th>
    </tr>
  </thead>
  <tbody id='products_container'>
    <%= render @presenter.products %>
  </tbody>
</table>
<div class="row d-flex justify-content-center">
  <%= will_paginate @presenter.products%>
</div>
