<tr id='<%= dom_id(client) %>'>
  <td><%= client.username %></td>
  <td><%= client.email %></td>
  <td class='text-right'>
  <%= link_to 'Borrar', backend_client_path(client), remote: true, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>