<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-outline-secondary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <% if user_signed_in? == false %>
            <li class="nav-item">
              <%= link_to 'Home', root_path,{method: :get, class: 'nav-link'}%>
            </li>
            <% end %>
            <li class="nav-item dropdown">
              <%= render 'options_user'%>
            </li>
          </ul>
        </div>
      </nav>
