<div class="bg-light border-right" id="sidebar-wrapper">
 <div class="sidebar-heading">MyBlog</div>
 <div class="list-group list-group-flush">
   <% #link_to 'Categorias', categories_path, class: 'list-group-item list-group-item-action bg-light' %>
   <% #link_to 'Categorias Backend', backend_categories_path, class: 'list-group-item list-group-item-action bg-light' %>
   <% #link_to 'Iniciar sesión', new_user_registration_path, class: 'list-group-item list-group-item-action bg-light'%>
   <% if user_signed_in? %>
      <a class="dropdown-item" href="#">Action</a>
      <%= link_to 'Usuarios', backend_users_path, {method: :get, class: 'dropdown-item'} %>
      
      <% else %>
      <%= link_to 'Iniciar sesión', new_user_session_path, {method: :get, class: 'dropdown-item'} %>
   <% end %>
 </div>
</div>