<div class="container">
  <button class="button float-left">-</button>
  <input type="number" class="input" value="1" min="1">
  <button class="button float-right">+</button>
  <a href="" data-id="1" data-quantity="1" class="add-to-cart ajax product-2">
    <%= image_tag("add.png", size: "20x20") %>
  </a>
</div>